{% extends '../../base.html.twig' %}

{% block title %}{{ 'admin.show.delete_title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'admin.show.user'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'admin.show.id'|trans }}</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>{{ 'admin.show.yes'|trans }}</th>
                <td>{{ user.Yes }}</td>
            </tr>
            <tr>
                <th>{{ 'admin.show.roles'|trans }}</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'admin.show.password'|trans }}</th>
                <td>{{ user.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_index', {'_locale': app.request.locale}) }}">{{ 'admin.show.back'|trans }}</a>

    <a href="{{ path('app_user_edit', {'id': user.id, '_locale': app.request.locale}) }}">{{ 'admin.show.edit'|trans }}</a>

    {{ include('admin/_delete_form.html.twig') }}
{% endblock %}
