<p>{{ 'emails.confirm_email.confirmations_header'|trans }}</p>

<p>{{ 'emails.confirm_email.confirmations_message_header'|trans }}:</p>

<p><a href="{{ confirmationUrl }}">{{ 'emails.confirm_email.confirm_email'|trans }}</a></p>

<p>{{ 'emails.confirm_email.confirmations_message_footer'|trans }}:</p>
<p>{{ 'emails.confirm_email.confirm_expire'|trans }}</p>

<p>{{ 'emails.confirm_email.confirmations_footer'|trans }}</p>