<h2>{{'emails.confirmation_new_password.header'|trans }}</h2>

<p>{{'emails.confirmation_new_password.msg'|trans }}</p>

<p>
    <a href="{{ confirmationUrl }}" style="padding: 10px 20px; background-color: #0d6efd; color: white; text-decoration: none;">
        {{'emails.confirmation_new_password.confirm_password'|trans }}
    </a>
</p>

<p>{{'emails.confirmation_new_password.footer'|trans }}<a href="mailto:contact@body-language.org">contact@body-language.org</a>.</p>
<p>{{'emails.confirm_email.confirmations_footer'|trans }}</p>