<p>{{ 'emails.confirm_email.confirmations_header'|trans }}</p>

<p>{{ 'emails.confirmation_reset_password.confirmations_message_header'|trans }}:</p>

<p><a href="{{ confirmationUrl }}">{{ 'emails.confirmation_reset_password.confirm_password'|trans }}</a></p>

<p>{{ 'emails.confirmation_reset_password.confirmations_message_footer'|trans }}: <a href="mailto:contact@body-language.org">contact@body-language.org</a>.</p>
<p>{{ 'emails.confirmation_reset_password.confirm_expire'|trans }}</p>

<p>{{ 'emails.confirm_email.confirmations_footer'|trans }}</p>