{% extends 'base.html.twig' %}

{% block title %}{{ 'user_profile.edit_title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'user_profile.edit_title'|trans }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">{{ 'form.submit'|trans }}</button>
    {{ form_end(form) }}

    <a href="{{ path('user_profile', {'_locale': app.request.locale}) }}" class="btn btn-secondary">{{ 'form.cancel'|trans }}</a>
{% endblock %}